* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 85%;
    margin: 0 auto;
}

/* Header */
.header {
    background-image: url('../resources/header.png');
    background-size: cover;
    height: 80vh;
}

.header h1 {
    text-align: center;
    font-size: 3rem;
}

.header__hello {
    padding-top: 2rem;
}

.header__title {
    padding-top: 20%;
}

/* Unimportant Info Section */
.unimportant {
    background-color: var(--primary-blue);
    padding: 2rem;
    color: var(--primary-blue);
    height: 100vh;
}

.unimportant__card {
    width: 50%;
    height: 100%;
    margin: auto;
}

.unimportant__card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.unimportant__card:hover .unimportant__card-inner {
    transform: rotateY(180deg);
}

.unimportant__card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    padding: 2rem;
    line-height: 2rem;
}

.unimportant__card-face h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.unimportant__card-face h3 {
    text-decoration: underline;
}

.unimportant__front {
    background-image: url('../resources/jesper.png');
    background-size: cover;
    background-position: center;
    opacity: .5;
}

.unimportant__back {
    background-color: var(--primary-pink);
    color: var(--primary-blue);
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    font-size: 1.5rem;
}

.unimportant__sub-article {
    grid-column: auto / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unimportant__sub-article ul {
    display: flex;
}

.unimportant__sub-article li {
    list-style-type: none;
    padding: .5rem;
}

.unimportant__sub-article--span-one {
    grid-column: auto / span 1;
}

/* Very Important Info Section */
.important {
    background-color: var(--primary-pink);
    padding: 2rem;
    color: var(--primary-blue);
}

.important h2, .important h3 {
    text-align: center;
}

.important__luck-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem;
    gap: 2rem;
}

.important__lucka {
    grid-column: auto / span 1;
    position: relative;
    height: 300px;
    overflow: hidden;
    background-color: var(--primary-blue);
    color: var(--primary-pink);
}
.important__lucka ul li {
    list-style-type: none;
    text-align: center;
}

.important__closed, .important__open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out;
}

.important__open {
    transform: translateX(100%);
    background-color: var(--secondary-pink);
    color: var(--secondary-blue);
}

.important__lucka:hover .important__closed {
    transform: translateX(-100%);
}

.important__lucka:hover .important__open {
    transform: translateX(0);
}